/*
 *This file is part of SmartSlider.
 *
 *SmartSlider is free software: you can redistribute it and/or modify it under
 *the terms of the GNU General Public License as published by the Free Software
 *Foundation, either version 3 of the License, or (at your option) any later
 *version.
 *
 *SmartSlider is distributed in the hope that it will be useful, but WITHOUT ANY
 *WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
 *PARTICULAR PURPOSE.  See the GNU General Public License for more details.
 *
 *You should have received a copy of the GNU General Public License along
 *with SmartSlider (file LICENSE).  If not, see <http://www.gnu.org/licenses/>
 */
.all.theme-default  {
	color : black;
}

.theme-default .slide {
	background : white;
}

.theme-default .slide-container {
	background : white;
	margin : 20px;
	padding : 20px;
	font-size : 30px;
	line-height : 30px;
}

.theme-default.small .frame {
	font-size : 20px;
	line-height : 20px;
}


.theme-default h2 {
	height : 44px;
	padding : 5px;
	padding-left : 15px;
	padding-right : 15px;
	margin : 25px;
	margin-bottom : 40px;

	/*background : red;*/
}

.theme-default .green {
	box-shadow : 0px 0px 50px #2a7d22;
	background-color : #2a5422;
}

.theme-default .purple {
	box-shadow : 0px 0px 50px #744f89;
	background-color : #432355;
}

.theme-default .red {
	box-shadow : 0px 0px 50px #b52022;
	background-color : #542022;
}

.theme-default .blue {
	box-shadow : 0px 0px 50px #005eff;
	background-color : #214c53;
}

.theme-default .frame {
	margin-bottom : 20px;
	padding : 20px;
}

.theme-default.font_auto .green, 
.theme-default.font_auto .blue,
.theme-default.font_auto .red,
.theme-default.font_auto .purple
{
	color : #b2b2b2;
}


.theme-default.font_light {
	color : #b2b2b2;
}

.theme-default.font_dark {
	color : black;
}

.theme-default ul {
	text-align : left;
	padding-left : 40px;
	padding-right : 40px;
}

.theme-default.small ul {
	padding-left : 20px;
	padding-right : 20px;
}

.theme-default li {
	line-height : 40px;
	list-style-type:square;
}

.theme-default.small li {
	line-height : 30px;
}




